*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    background-color: #458087;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
.main{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    flex-wrap: wrap;
}
.main1{
    width: 49%;
    height: 100px;
    background-color: #ac2121;
    color: #ac2121;
}
.main2{
    width: 49%;
    height: 100px;
    background-color: #d49a36;
    color: #d49a36;
  
}
footer{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}
footer aside{
    width: 32%;
    height: 100px;
}
.foot1{
    background-color: #061a67;
    color: #061a67;
}
.foot2{
    background-color: #ac2121;
    color: #ac2121;
}
.foot3{
    background-color: #d49a36;
    color: #d49a36;
}
@media screen and (max-width:1024px) {
    .main aside{
        width: 100%;
        margin: 4px 0;
    }

    .foot1{
        width: 100%;
    }
    .foot2,.foot3{
        display: none;
    }
    
}