*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    background-color: red;
    color: white;
    border-radius: 10px;
    padding: 26px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.between{
    display: flex;
    height: 400px;
}

.text1{
    background-color: green;
    color: white;
    border-radius: 10px;
    padding: 20px;

    margin: 10px;
}

.text2{
    background-color: yellow;
    border-radius: 10px;
    margin-left: 10px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.text3{
    background-color: #d941d2;
    color: white;
    border-radius: 10px;
    padding: 20px;
 
    margin: 10px;
}

footer{
    background-color: blue;
    color: white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}
@media screen and (max-width: 768px) {

   
        .between{
            display: flex;
            flex-direction: column;
        }



    
}